extends layout

block content
  h1 Generar cargo con SPEI
  form#card-form(method="post", action="/checkouts/charge")
    input(type="hidden", name="currency", value="MXN")
    input(type="hidden", name="description", value="Pizza Delivery at test")
    input(type="hidden", name="reference_id", value="001-id-test")
    input(type="hidden", name="bank[type]", value="spei")
    
    p
        label Cargo en centavos
        | &nbsp;
        input(type="text", name="amount")
    p
        label Nombre del comprador
        | &nbsp;
        input(type="text", name="details[name]")
    p
        label Email del comprador
        | &nbsp;
        input(type="email", name="details[email]")
    p
        label Teléfono del comprador
        | &nbsp;
        input(type="tel", name="details[phone]")
    p
        button(type="submit") ¡Pagar ahora!
